<div class="upload">
  <% unless f.object.new_record? %>
    <% if f.object.id == f.object.idea.current_image.id %>
      <h3>current image:</h3>
      <p><%= image_tag f.object.image.url, size: '300x300' %> 
        remove <%= f.check_box :_destroy %></p>
    <% else %>
      <p><%= image_tag f.object.image.url, size: '100x100' %>
      remove <%= f.check_box :_destroy %></p>
    <% end%>
  <% end %>
</div>
