<% content_for :more_headers do %>
  <%= stylesheet_link_tag 'jquery.tagsinput' %>
<% end %>
<% content_for :js_includes do %>
  <% javascript_include_tag 'dashboard' %>
<% end %>

<% #title "Edit Idea" %>

<script>
	$(document).ready(function() {
		// Stuff to do as soon as the DOM is ready;
		$('div.span6').removeClass('offset2');
	});
</script>

<div class="editideaform">
	<%= render 'edit_form' %>
<div>

<p>
  <%#= link_to "Show", @idea %> |
  <%#= link_to "View All", ideas_path %>
</p>
