<footer class="row-fluid endofsite">
  <div class="span4">
    <h2>About us</h2>
    <p>Some lorem ipsum while we think of this.</p>
  </div>
  <div class="span4">
    <h2>Get in Touch</h2>
  </div>
  <div class="span4">
    <h2>Legal stuff</h2>
  </div>
</footer><!-- /footer -->
