<% content_for :more_headers do %>
  <%= stylesheet_link_tag 'jquery.tagsinput' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' %>
  <%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/blitzer/jquery-ui.css' %>
<% end %>
<% content_for :js_includes do %>
  <% javascript_include_tag 'dashboard' %>
<% end %>

<section class="controls">
  <a class="newideabox" href="#newideabox"></a>
  <div id="newideabox">
    <header>
      <h1>New Idea</h1>
    </header>
    
    <div id="newidea_text" class="fl">
      <form id="ideaform">
        <div>
          <p>Idea Title</p>
          <input type="text" value="" name="ideatitle" class="ideatitlebox" placeholder="Give a title to your idea" />
        </div>
        <div>
          <p>Description</p>
          <textarea rows="4" cols="37" name="description"></textarea>
        </div>
        <div>
          <p>Client (optional)</p>
          <input type="text" value="" name="client" class="client" placeholder="This is optional"/>
        </div>
        <div>
          <p>Do you want to display it as a public idea?</p>
          <label for="publicyes">Yes</label>
          <input type="radio" name="publicidea" value="1" id="publicyes" />
          <label for="publicno">No</label>
          <input type="radio" name="publicidea" value="0" id="publicno" />
        </div>
        <div>
          <p>Gather information from feedback you receive on social networks?</p>
          <label for="scrapesnyes">Yes</label>
          <input type="radio" name="scrapesn" value="1" id="scrapesnyes" />
          <label for="scrapesnno">No</label>
          <input type="radio" name="scrapesn" value="0" id="scrapesnno" />
        </div>
        <div>
          <p>Tags:</p>
          <input type="text" name="tags" id="tags_p" value="" />
        </div>	
      </form>
    </div>
    
    <div id="newideaupload" class="fr">				
      <div class="uploader">
        <!--

        <h1>Files</h1>
        
        <table id="files-table" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>File Name</th>
            <th>File Size</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
        
-->
        <h1>Upload</h1>
          <div id="upload-panel" class="well">Drag a file here to upload!</div>
          <div id="uploads">
        </div>
        
        <!--
<h1>Upload alternate</h1>
        <form action="/s3bucket" enctype="multipart/form-data" method="post" class="uploaderst">
          <input type="file" name="upload" class="uploadfield" />
          <button type="submit" class="btn btn-primary btn-upload">Upload</button>
        </form>
-->
      </div>
      
    </div>
  </div> <!-- /ideabox -->
</section>
  

<section id="main" class="clearfix">

  <div id="ideasList">
  
    <header>
      <h2>Your ideas</h2>
      <ul class="breadcrumbs">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Dashboard</a></li>
      </ul>
    </header>
    
    <div id="ideas" class="clearfix">
      
      <div class="idea">
        <div id="thumbs">
          <img src="imgs/idea_thumb3.png" alt="idea_thumb3" width="151" height="77">
          <img src="imgs/idea_thumb4.png" alt="idea_thumb3" width="151" height="77">
        </div>
        <p class="ideaTitle"><a	href="#">Idea 1</a></p>
        <nav class="fr ideaBtns">
          <ul>
            <li><button type="button" name="" value="" class="grey share_btn">share</button></li>
            <li class="idea_comments"><a href="#" title="You have no comments">0</a></li>
            <li class="idea_likes"><a href="#" title="Number of times your idea has been seen">12</a></li>
            <li class="idea_views"><a href="#" title="Number of times your ideas have been viewed">6</a></li>
            <li class="idea_delete"><a href="#" title="This will delete the idea and it'll be lost for ever..." class="confirm">&nbsp;</a></li>
          </ul>
        </nav>
        
      </div> <!-- /idea -->
      
      <div class="idea">
        <div id="thumbs">
          <img src="imgs/idea_thumb2.png" alt="idea_thumb3" width="151" height="77">
          <img src="imgs/idea_thumb1.png" alt="idea_thumb3" width="151" height="77">
        </div>
        <p class="ideaTitle"><a	href="#">Second Idea</a></p>
        <nav class="fr ideaBtns">
          <ul>
            <li><button type="button" name="" value="" class="grey share_btn">share</button></li>
            <li class="idea_comments hascomments"><a href="#" title="You have NEW comments!!">10</a></li>
            <li class="idea_likes"><a href="#" title="Number of times your idea has been seen">2</a></li>
            <li class="idea_views"><a href="#" title="Number of times your ideas have been viewed">8</a></li>
            <li class="idea_delete"><a href="#" title="This will delete the idea and it'll be lost for ever..." class="confirm">&nbsp;</a></li>
          </ul>
        </nav>
        <div class="ideaComments hidden">
          <div class="left_comment fl"></div>
          <div class="left_comment fl"></div>
          <div class="left_comment fl"></div>
          <div class="right_comment fl"></div>
          <div class="right_comment fl"></div>
          <div class="right_comment fl"></div>
          <div class="left_comment fl"></div>
          <div class="left_comment fl"></div>
          <div class="left_comment fl"></div>
        </div>
      </div> <!-- /idea -->
      
      <div class="idea">
        <div id="thumbs">
          <img src="imgs/idea_thumb3.png" alt="idea_thumb3" width="151" height="77">
          <img src="imgs/idea_thumb4.png" alt="idea_thumb3" width="151" height="77">
        </div>
        <p class="ideaTitle"><a	href="#">Another Idea</a></p>
        <nav class="fr ideaBtns">
          <ul>
            <li><button type="button" name="" value="" class="grey share_btn">share</button></li>
            <li class="idea_comments"><a href="#" title="You have no comments">0</a></li>
            <li class="idea_likes"><a href="#" title="Number of times your idea has been seen">4</a></li>
            <li class="idea_views"><a href="#" title="Number of times your ideas have been viewed">4</a></li>
            <li class="idea_delete"><a href="#" title="This will delete the idea and it'll be lost for ever..." class="confirm">&nbsp;</a></li>
          </ul>
        </nav>
        
      </div> <!-- /idea -->
      

      
    </div> <!-- /ideas -->
    
  </div> <!-- /ideasList -->

</section><!-- /main -->

<a class="share" href="#sharebox"></a>
<div id="sharebox">
  <header>
    <h1>Share > Idea</h1>
  </header>
  <div id="share_text" class="fl">
    <div>
      <p><strong>Short URL:</strong></p>
      <p>Use this URL in your tweets or facebook comments, that way INSPIRATIO can track the feedback you receive. </p>
      <input type="text" disabled="disabled" value="http://insprat.io/234dxc" name="shorturl"/>
    </div>
    <div>
      <p>Do you want to track the feedback for this link?</p>
      <img src="imgs/share_yes_no.png" alt="share_yes_no" width="134" height="18">
    </div>
    <div>
      <p>Select the networks you like to collect info from. You must have authorised the accounts in your <a href="#">settings.</a></p>
      <img src="imgs/share_social_pick.png" alt="share_social_pick" width="288" height="51">
    </div>
    <button type="button" name="" value="" class="greenbtn fr done">DONE</button>	
  </div>
  <div id="bigpic" class="fr">
    <h2><strong>Idea:</strong> New iPad App</h2>
    <img src="imgs/img_dummy_idea.jpeg" alt="img_dummy_idea" width="2000" height="1250">
  </div>
</div> <!-- /share -->
